<form [formGroup]="phoneForm" #ngForm="ngForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Phone Number Validator<span *ngIf="ngForm.submitted && !phoneForm.valid" class="small-font"
          [ngClass]="{'invalid': ngForm.submitted }">* required</span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="accessKey" matInput placeholder="Access key">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option *ngFor="let item of list" [value]="item.alpha2Code">
                {{item.name}}({{item.alpha2Code}})
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="phone" matInput placeholder="Phone number">
            <div *ngIf="f.phone.touched && f.phone.invalid" class="invalid">
              <div *ngIf="f.phone.errors.required">Number is required!</div>
              <div *ngIf="f.phone.errors.pattern">Enter only number!</div>
          </div>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="verify()" mat-raised-button color="primary">Verify</button>
    </mat-card-actions>
  </mat-card>
</form>